* text=auto !eol
/.cproject -text
/.project -text
.settings/org.eclipse.core.runtime.prefs -text
/Makefile -text
/README.txt -text
/SConscript -text
include/ISTable.h -text
include/ITTable.h -text
include/TTable.h -text
include/TableError.h -text
include/TableFile.h -text
src/ISTable.C -text
src/ITTable.C -text
src/TTable.C -text
src/TableFile.C -text
